{
  "plugins": [
    "react",
    "react-native"
  ],

  "extends": ["eslint:all", "plugin:react/recommended", "plugin:react-native/all"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-magic-numbers": "off",
    "no-ternary": "off",
    "one-var": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react-jsx-filename-extension": "off",
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": "off",
    "react-native/no-raw-text": "off",
    "react-native/no-single-element-style-arrays": 2
  }
}
